body {
    text-align: center;
    background-image: url('images/actuUsimage.jpg');
    font-family: "poppins";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10%;
}
div {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
thead tr{
    background-color: black;
    color: white;
}
th td {
    padding: 15px 20px;
    border: 1px solid;
}
tbody tr, td, th{
    border: 1px solid black ;
}
tbody tr:nth-child(even){
    background-color: rgba(1, 7, 91, 0.25);
}
tbody tr:nth-child(odd){
    background-color: rgba(134, 9, 9, 0.25);
}
table {
    width:100%;
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.15);
    border: 2px solid black;
    color: white;
}
#logoHome {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}
#b4v {
    margin: 0;
    width: 100px;
    color:white;
}