body {
    text-align: center;
    color: white;
    background-image: url('images/carbone.jpg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
}
p {
    text-align: center;
}
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table, td, th {
    border: 1px solid;
  }
table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
}
#logoHome{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
  }
#b4v{
    margin: 0;
    width: 100px;
    color:white;
  }