body {
  background: linear-gradient(90deg, rgb(11, 2, 65),rgb(8, 4, 67), rgb(28, 9, 196));
  color: white;
  font-family: "poppins";
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
    text-align: center;
    color: #030000;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    filter: contrast(110%);
}
p {
    text-align: justify;
}
#logoHome{
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}
#b4v{
  margin: 0;
  width: 100px;
  color: white;
}
