body {
    background-image: url('images/terrain.jpg');
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "poppins";
}
h1 {
    color: white;
    text-align: center;
}  
h2{
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
}
header {
    border-style: solid;
    background-color: black;
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
img{
  margin-left: 5%;
  margin-right: 5%;
  width: 20%;
  height: 100%;
  filter: contrast(105%);
  border-radius: 5%;
  box-shadow: 5px 5px 3px rgb(76, 77, 78);
}
div{
  padding: 1% 1% 1% 1%;
}
footer{
  border-style: solid;
  background-color: black;
  text-align: right;
  margin-top: 2%;
  border: 0px;
  padding-right: 1%;
}
.texte_page {
  text-align: center;
  background-color: rgba(45, 41, 41, 0.30);
  border-radius: 50%;
  padding: 2% 2% 2% 2%;
  width: 50%;
  margin: auto;
}
.img{
  text-align: center;
}
#nom{
  color: white;
  text-align: right;
}
#logoHome{
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
}
#b4v{
  margin: 0;
  width: 100px;
}